<div class="container d-flex-column mt-4">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">СкрамПохер</h5>
      <p class="card-text">Это способ командной работы, когда участники команды играют в игру, чтобы оценить, насколько сложно выполнить ту или иную задачу. Вместо того чтобы просто называть число, они используют карты с числами (как в игре в покер), чтобы сделать это более интерактивным. Каждая карта обозначает определенную сложность, и участники выбирают карту, которая, по их мнению, наиболее точно отражает сложность задачи. Это помогает команде лучше понять, насколько сложными они считают разные задачи и договориться о том, какие задачи стоит делать в первую очередь.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Покер сессия</h5>
      <p class="card-text">Это собрание членов команды или участников проекта, во время которого проводится оценка задач или историй пользователей. Покер-сессия обычно начинается с введения задачи или истории, которая нуждается в оценке. Затем каждый участник сессии выбирает карту из набора карт с числами, которые обозначают сложность задачи. Карты могут содержать числа Фибоначчи или другие числовые последовательности. После того как все участники выбрали свои карты, они одновременно показывают их. Если оценки сильно различаются, участники обсуждают причины своих оценок, чтобы прийти к общему пониманию. Покер-сессия заканчивается, когда команда приходит к согласию по оценке задачи или истории.</p>

      <%= turbo_frame_tag PokerSession.new do %>
        <%= link_to "Создать сессию",
                    new_poker_session_path,
                    class: "btn btn-primary",
                    data: { turbo_frame: dom_id(PokerSession.new) }
        %>
      <% end %>
    </div>
  </div>
</div>
