<div style="width: 400px" class="container mx-auto mt-4">
  <h3>Редактирование оценок</h3>

  <%= form_with scope: :poker_session, url: poker_session_path(@poker_session.id), method: :patch do |f| %>
    <div class="row mb-2">
      <div class="col d-flex-column">
        <%= f.text_field :estimates,
                        value: @view_model.estimates,
                        class: "form-control #{@view_model.errors.any? ? "is-invalid" : ""}",
                        placeholder: "Оценки",
                        autofocus: true,
                        maxlength: PokerSessions::CreateModel::MAX_ESTIMATES_LENGTH,
                        autocomplete: "off"
        %>

        <div class="form-text text-muted">
          Введите оценки через запятую
        </div>

        <% if @view_model.errors.any? %>
          <div class="invalid-feedback">
            <%= @view_model.errors.full_messages_for(:estimates).join(", ")%>
          </div>
        <% end %>

      </div>
    </div>

    <%= f.submit "Обновить", class: "btn btn-primary" %>
  <% end %>
</div>
