<%= turbo_frame_tag PokerSession.new do %>
  <%= form_with scope: :poker_session, url: poker_sessions_path do |f| %>
    <div class="row mb-2">
      <div class="col">
        <%= f.text_field :estimates, class: "form-control", placeholder: "Оценки" %>
        <small class="form-text text-muted">Введите оценки через запятую</small>
      </div>
    </div>

    <%= f.submit "Создать", class: "btn btn-primary" %>
  <% end %>
<% end %>

